<?xml version="1.0"?>
<launch>
  <!-- start gazebo server-->
  <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  rosrun gazebo spawn_model -file `pwd`/object.urdf -urdf -z 1 -model my_object -->
  <node name="gazebo" pkg="gazebo_ros" type="gzserver" output="screen" args='worlds/rubble_world.world'/>

  <node name="spawn_urdf1" pkg="gazebo_ros" type="spawn_model" output="screen" args='-file $(dirname)/test.urdf -urdf -x 0 -z 1 -model testing_cube1'/>
  <node name="spawn_urdf2" pkg="gazebo_ros" type="spawn_model" output="screen" args='-file $(dirname)/test.urdf -urdf -x 1 -z 1 -model testing_cube2'/>
  
  <!-- <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model panda" /> -->

  <!-- start gazebo client -->
  <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
</launch>